
{% load static %}
<html>
<head>
<title>Blog del profe Jorge</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}?v=2">
</head>
<body>
<div>
<h1><a href="/">Blog del profe Jorge</a></h1>
</div>
<div class="content container">
<div class="row">
<div class="col-md-8">
{% for publicacion in publicaciones %}
<div class="post">
<div class="date">
<p> publicado: {{ publicacion.fecha_publicacion }}</p>
</div>
<h2><a href="">{{ publicacion.titulo }}</a></h2>
<p>{{ publicacion.texto|linebreaksbr }}</p>
<hr>
</div>
{% endfor %}
</div>
</div>
</div>
</html>